[submodule "base"]
	path = base
	url = https://github.com/steinbergmedia/vst3_base.git
[submodule "cmake"]
	path = cmake
	url = steinbergmedia/vst3_cmake
[submodule "doc"]
	path = doc
	url = steinbergmedia/vst3_doc
[submodule "pluginterfaces"]
	path = pluginterfaces
	url = steinbergmedia/vst3_pluginterfaces
[submodule "public.sdk"]
	path = public.sdk
	url = steinbergmedia/vst3_public_sdk
[submodule "tutorials"]
	path = tutorials
	url = steinbergmedia/vst3_tutorials
[submodule "vstgui4"]
	path = vstgui4
	url = steinbergmedia/vstgui
